{% extends 'main.html' %}
{% block content %}
  <div class="row">
    <div class="col-md-12">
                    {% load crispy_forms_tags %}
        <div class="container">
        <div class="row mt-5">
            <div class="col-md-4 py-5 bg-primary text-white text-center ">
                <div class=" ">
                    <div class="card-body ">
                        <img src="http://www.ansonika.com/mavia/img/registration_bg.svg" style="width:30%">
                        <h2 class="py-3">Créer une Annonce</h2>
                        <p> Indiquez vos coordonnées </p>
                    </div>
                </div>
            </div>
            <div class="col-md-8 py-5 border bg-white">
                <form action="" method="post">
                <h4 class="pb-4">Entrez les coordonnées</h4>
                                 {% csrf_token %}
                                    {{ annonceForm|crispy }}
                <div class="panel panel-primary">
                <div class="panel-heading">
                  <h4 class="panel-title">Ajoutez votre adresse</h4>
                </div>
                <div class="panel-body" >
                  <input id="autocomplete" required placeholder="Entrez votre adresse" type="text" class="form-control">
                  <div id="address">
                    <div class="row">
                      <div class="col-md-6">
                        <label class="control-label">Rue</label>
                        <input class="form-control" id="street_number" name="rue" disabled="true">
                      </div>
                      <div class="col-md-6">
                        <label class="control-label">Voie</label>
                        <input class="form-control" id="route" name="voie" disabled="true">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <label class="control-label">Ville</label>
                        <input class="form-control field" id="locality" disabled="true" name="ville">
                      </div>
                      <div class="col-md-6">
                        <label class="control-label">Region</label>
                        <input class="form-control" id="administrative_area_level_1" disabled="true" name="region">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <label class="control-label">Code Postal</label>
                        <input class="form-control" id="postal_code" disabled="true" name="zip">
                      </div>
                      <div class="col-md-6">
                        <label class="control-label">Pays</label>
                        <input class="form-control" id="country" disabled="true" name="pays">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                <a href="{% url 'login-annonce' %}" > Se connecter </a>
                {% load static %}
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1lHVWM1UP-2-F2RPwgBCcRKjYjXAqm5A&libraries=places&callback=initAutocomplete" async defer></script>
            <script src="{% static 'js/autocomplete.js' %}"></script>
              <input type="submit" name="Envoyer">

            </div>
            </form>
        </div>
    </div>
</section>
  </div>
{% endblock %}