{%  extends 'main.html' %}

{% block content %}

		<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Products</h5>
				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>ID</th>
                            <th>nom du produit</th>
							<th>Prix</th>
							<th>Date de creation</th>
						</tr>

						{% for i in produit %}
							<tr>
								<td>{{i.id}}</td>
                                <td>{{i.nom}}</td>
								<td>{{i.prix}}</td>
								<td>{{i.date_creation}}</td>
							</tr>
						{% endfor %}
						
					</table>
				</div>
			</div>
			
		</div>

{% endblock content %}